# Session 6

1. Séries temporelles
2. Graphiques avec pandas
3. Graphiques avec matplotlib
4. Graphiques avec seaborn
5. Cartes : matplotlib, plotly et ipyleaflet

In [ ]:
# imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

## 1. Séries temporelles

Le module datetime :
- **date**: date (year, month, day) calendrier Grégorien
- **time**: temps (hours, minutes, seconds, microseconds)
- **datetime**: timestamp (date + time)
- **timedelta**: durée, différence entre 2 dates ou 2 temps (days, hours, minutes, seconds, microseconds)
- **tzinfo**: gestion des fuseaux horaires (time zones)

Voir : https://docs.python.org/fr/3.7/library/datetime.html

In [ ]:
# import
import datetime

### 1.1 Objets temporels

In [ ]:
# date
today = datetime.date.today()
today

In [ ]:
# datetime
now = datetime.datetime.now()
now

In [ ]:
# UTC datetime
now_utc = datetime.datetime.utcnow()
now_utc

In [ ]:
# timedelta
today - datetime.date(2020, 1, 1)

In [ ]:
# addition entre une date et un timedelta
now + datetime.timedelta(days=100)

In [ ]:
# différence entre une date et un timedelta
now - datetime.timedelta(days=100)

In [ ]:
# import pytz
from pytz import timezone

In [ ]:
# build a timezone object
tz = timezone('Asia/Shanghai')
tz

In [ ]:
# convertion d'un datetime selon un fuseau horaire
now.astimezone(tz)

### 1.2 Ecriture et lecture

- strftime() : écrire un datetime selon un format donné
- strptime() : lire un datetime selon un format donné

Directives | Comments
- | -
%a | Day of the week abbreviated
%A | Day of the week
%w | Day of the week 0 = Sunday ... 6 = Saturday
%d | Day of month on 2 digits 01, 02, ..., 31
%j | Day of year on 3 digits 001, 002, ..., 366
%b | Month abbreviated
%B | Month name
%m | Month on 2 digits 01, 02, ..., 12
%U | Number of week in year (Sunday = first day)
%W | Number of week in year (Monday = first day)
%y | Year without the century on 2 digits 00, 01, ..., 99	 
%Y | Year with the century on 4 digits 0001, 0002, ..., 2018, 2019, ..., 9998, 9999
%H | Hour over 24 00, 01, ..., 23
%I | Hour over 12 01, 02, ..., 12
%p | AM or PM
%M | Minute on 2 digits 00, 01, ..., 59
%S | Second on 2 digits 00, 01, ..., 59
%f | Microsecond on 6 digits 000000, 000001, ..., 999999
%z | UTC offset +HHMM or -HHMM
%Z | Time zone 
%c | Representation date and temps
%x | Representation date
%X | Representation time
%% | Character %

In [ ]:
# datetime
now = datetime.datetime.now()
now

In [ ]:
# jour dela semaine
now.strftime("%A %d/%m/%Y")

In [ ]:
# locale
# mettreparfois fr_FR au lien de fr, etc.
import locale
#locale.setlocale(locale.LC_ALL, 'ar') # arabic
#locale.setlocale(locale.LC_ALL, 'de') # german
#locale.setlocale(locale.LC_ALL, 'es') # spanish
#locale.setlocale(locale.LC_ALL, 'en') # english
#locale.setlocale(locale.LC_ALL, 'fa') # iranian
locale.setlocale(locale.LC_ALL, 'fr') # french
#locale.setlocale(locale.LC_ALL, 'hi') # hindi
#locale.setlocale(locale.LC_ALL, 'he') # hebrew
#locale.setlocale(locale.LC_ALL, 'it') # italian
#locale.setlocale(locale.LC_ALL, 'ja') # japanese
#locale.setlocale(locale.LC_ALL, 'lt') # lithuanian 
#locale.setlocale(locale.LC_ALL, 'ko') # korean
#locale.setlocale(locale.LC_ALL, 'ro') # romanian
#locale.setlocale(locale.LC_ALL, 'ru') # russian
#locale.setlocale(locale.LC_ALL, 'sr') # serbian
#locale.setlocale(locale.LC_ALL, 'tr') # turkish
#locale.setlocale(locale.LC_ALL, 'zh') # chinese
now.strftime("%A %B %d/%m/%Y")

In [ ]:
# lecture au format : AA-MM-DD-HH-MM
# écriture au format : HH:MM DD/MM/YYYY
var = datetime.datetime.strptime("20-11-04-10-30", "%y-%m-%d-%H-%M")
var.strftime("%H:%M %d/%m/%Y")

**Exercice n° 1**


- Prendre le DataFrame des villes 'cities500.txt', combien a-t-on de fuseaux horaires ?
- Remplacez les valeurs de la colonne "timezone" par des objets "timezone".
- Prenez le datetime courant (now), convertissez-le avec toutes les valeurs de la colonne "timezone", et produisez des chaines de caractères au format format: `'%Y-%m-%d %H:%M:%S'`
- Il y a 24 heures dans une journée, combien obtient-on de fuseaux horaires différents ?

### 1.3 Séries temporelles

In [ ]:
def df_taux_change(devises):
    df = pd.read_csv("Webstat_Export.csv",
                     sep=";",
                     na_values='-',
                     decimal=',',
                     skiprows=[0, 1, 3, 4, 5],  # le skiprows permet à l'option "decimal" de fonctionner
                     converters={0: lambda x: pd.to_datetime(x, format='%d/%m/%Y', errors='ignore')})

    # extraction des codes monnaies
    cols = pd.Series(df.columns.tolist()).str.extract('\(([A-Z]{3})\)', expand=True)
    cols.iloc[0] = 'Date'
    df.columns = cols[0]

    # selection des devises
    df = df[['Date'] + devises]

    # drop na
    df = df.dropna()

    # set index
    df = df.set_index('Date')
    
    return df

In [ ]:
df = df_taux_change(['USD', 'CHF', 'GBP', 'JPY', 'RUB', 'CNY'])
df.head()

**L'accesseur dt**

In [ ]:
# reset_index
df = df.reset_index()
df.head()

In [ ]:
# access to year
df['Date'].dt.year

In [ ]:
# access to month
df['Date'].dt.month

In [ ]:
# access to week days
df['Date'].dt.weekday

**Sélection de données temporelles**

In [ ]:
# setting the index as a datetime object
df = df.set_index('Date')
df = df.sort_index()
df

In [ ]:
# yearly data
df['2020']

In [ ]:
# monthly data
df['2020/01'] # or df['01/2020']

In [ ]:
# slice selection
df['12/2019':'01/2020']

### Réindexation temporelle

La fonction date_range() permet de construire un nouvel index sur la base de limites et d'une fréquence donnée.

In [ ]:
# nouvel index avec toutes les dates
newindex = pd.date_range(start=df.index[0], end=df.index[-1], freq='D')
newindex

La méthode reindex() va produire un nouveau DataFrame avec des valeurs manquantes si le nouvel index comprend des valeurs nouvelles.

In [ ]:
# réindexation temporelle
var = df.reindex(newindex)
var.head()

Différentes méthodes permettent de combler les valeurs manquantes.

In [ ]:
# fillna forward
var.fillna(method='ffill').head()

In [ ]:
# fillna backward
var.fillna(method='bfill').head()

La méthode interpolate() remplace les valeurs manquantes par une interpolation linéraire.

In [ ]:
# interpolate 
var.interpolate().head()

In [ ]:
# interpolate linear = numpy.linspace
array = np.linspace(var.iloc[1, :], var.iloc[4, :], 4)
pd.DataFrame(array)

**Agrégations temporelles**

Méthode resample qui se comporte comme un groupby.

In [ ]:
# yearly aggregation
df.resample('A').size()

In [ ]:
# yearly aggregation
df.resample('A').max()

In [ ]:
# monthly aggregation
df.resample('M').mean()

Alias | Offset type | Description
- | - | -
D | Day | Calendar daily
B | BusinessDay | Business daily
H | Hour | Hourly
T or min | Minute | Minutely
S | Second | Secondly
L or ms | Milli | Millisecond (1/1000th of 1 second)
U | Micro | Microsecond (1/1000000th of 1 second)
M | MonthEnd | Last calendar day of month
BM | BusinessMonthEnd | Last business day (weekday) of month
MS | MonthBegin | First calendar day of month
BMS | BusinessMonthBegin | First weekday of month
W-MON, W-TUE, ... | Week | Weekly on given day of week: MON, TUE, WED, THU, FRI, SAT, or SUN.
Q-JAN, Q-FEB, ... | QuarterEnd | Quarterly dates anchored on last calendar day of each month,for year ending in indicated month: JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, or DEC.
A-JAN, A-FEB, ... | YearEnd | Annual dates anchored on last calendar day of given month: JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEP, OCT, NOV, or DEC.

Source: Python for Data Analysis, Wes McKinney, O'Reilly

**Graphiques temporels**

In [ ]:
# taux de change
df.plot();

In [ ]:
# taux de change divisés par leur moyenne
(df / df.mean()).plot();

In [ ]:
# taux de change divisés par la dernière valeur
(df / df.iloc[-1]).plot();

In [ ]:
# taux de change divisés par leur moyenne avec une moyenne glissante de 30 jours
(df / df.mean()).rolling(30).mean().plot();

**Exercice n° 2**

Affichez les taux de change divisés par leur moyenne avec un maximum glissant sur 100 jours.

## 2. Graphiques avec pandas

pandas propose une API relativement simple qui s'appuie sur matplotlib.

https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html

#### Data Names US et FR

In [ ]:
# names US
def df_names_us():
    dfs = []
    for year in range(1880, 2020):
        csv = pd.read_csv(f'names/yob{year}.txt',
                          names=['name', 'gender', 'births'])
        csv['year'] = year
        dfs.append(csv)
    df = pd.concat(dfs, ignore_index=True)
    df = df[['year', 'name', 'gender', 'births']]
    return df

df_us = df_names_us()
df_us.shape

In [ ]:
def df_names_fr():
    # dict for gender
    d = {'1': 'M', '2': 'F'}
    # read table
    # no header
    # set columns
    # user converters for gender and name
    df = pd.read_csv('nat2019.csv',
                      sep=';',
                      header=0,
                      names=['gender', 'name', 'year', 'births'],
                      converters={
                          'gender': d.get,
                          'name': str.title
                      })
    # select usable data
    # name with length > 1
    # year != 'XXXX'
    # name != '_Prenoms_Rares' (after use of str.title)
    df = df.loc[(df['name'].str.len() > 1)
                & (df['year'] != 'XXXX')
                & (df['name'] != '_Prenoms_Rares')]
    # set year type to int
    df['year'] = df['year'].astype(int)
    # set columns order
    df = df[['year', 'name', 'gender', 'births']]
    # sort data
    df = df.sort_values(['year', 'gender', 'births', 'name'],
                   ascending=[True, True, False, True])
    # reset index
    df = df.reset_index(drop=True)
    return df

df_fr = df_names_fr()
df_fr.shape

**Exercice n° 3**

Combinez les 2 DataFrames en un seul avec une colonne en plus "country" valant "us" ou "fr".

In [ ]:
# pd.Series.plot?

In [ ]:
# exemple
tab = df.loc[(df['country'] == 'us') & (df['name'] == 'Emma') & (df['gender'] == 'F')]
tab = tab.set_index('year')
tab['births'].plot(title='Nombre de naissances pour Emma (F) - us');

In [ ]:
# exemple
tab = df.loc[(df['country'] == 'fr') & (df['name'] == 'Emma') & (df['gender'] == 'F')]
tab = tab.set_index('year')
tab['births'].plot(title='Nombre de naissances pour Emma (F) - fr');

In [ ]:
# quelques fonctions
def select(country, name, gender):
    return df.loc[(df['country'] == country) &
                  (df['name'] == name) &
                  (df['gender'] == gender)]

def plot_names(country, name, gender):
    tab = select(country, name, gender)
    tab = tab.set_index('year')
    tab['births'].plot(title=f'Nombre de naissances pour {name} ({gender}) - {country}');

In [ ]:
plot_names('fr', 'Francis', 'M')

In [ ]:
plot_names('us', 'Donald', 'M')

**Exercice n° 4**

Afficher l'évolution du nombre de naissances US ou FR par année et par genre.

Afficher l'évolution de la diversité des prénoms US ou FR par année et par genre.

**bar plot**

In [ ]:
# sélection + pivot
top10 = ['Camille', 'Louise', 'Léa', 'Ambre', 'Agathe',
         'Louis', 'Gabriel', 'Léo', 'Maël', 'Paul']
selection = df.loc[(df['year'] == 2019) & (df['country'] == 'fr') & df['name'].isin(top10)]
tab = selection.pivot_table(values='births',
                      index='name',
                      aggfunc='sum')
tab

In [ ]:
# bar plot
tab.plot(kind='bar', rot=60);  # testez avec barh

#### pie plot

In [ ]:
# sélection + pivot
selection = df.loc[df['name']=='Jean']
tab = selection.pivot_table(values='births',
                            index='gender',
                            aggfunc='sum')
tab

In [ ]:
# pie plot
tab.plot(kind='pie',
         y='births',
         colors=['m', 'c'],
         autopct='%1.1f%%',
         textprops={'color': 'w', 'weight': 'bold'},
         explode=(0.0, 0.1));

## 3. Graphiques avec matplotlib

- Objet principal : Figure
- Sous-graphiques : Axes à ne pas confondre avec les axes (axis en anglais)

Méthodes :
- add_subplot(ligne, colonne, n° de figure) ou 111, 112, 121... si < 10, par sous-graphique
- subplots(nb lignes, nb colonnes) pour tous les sous-graphiques

On utilise la sous-librairie pyplot.

Voir : https://matplotlib.org/

#### Plusieurs courbes en un grahique

In [ ]:
# plusieurs courbes en un grahique
fig = plt.figure(figsize=(10, 4))
name, gender = 'Emma', 'F'

ax1 = fig.add_subplot(111)
ax1.set_title(f'Nombre de naissances pour {name} ({gender})')

country = 'us'
tab = select(country, name, gender)
tab = tab.set_index('year')
ax1.plot(tab['births']);

country = 'fr'
tab = select(country, name, gender)
tab = tab.set_index('year')
ax1.plot(tab['births'])

ax1.legend(['us', 'fr']);

#### Plusieurs grahiques avec add_subplot()

In [ ]:
def plot_country_name_gender(country, name, gender, ax):
    tab = select(country, name, gender)
    tab = tab.set_index('year')
    ax.set_title(f'{country}')
    ax.plot(tab['births']);
      
fig = plt.figure(figsize=(10, 4))
name, gender = 'Emma', 'F'

fig.suptitle(f'Nombre de naissances pour {name} ({gender})')

country = 'us'
ax1 = fig.add_subplot(121)
plot_country_name_gender(country, name, gender, ax1)

country = 'fr'
ax2 = fig.add_subplot(122)
plot_country_name_gender(country, name, gender, ax2)

#### Plusieurs grahiques avec subplots()

In [ ]:
def plot_country_name_gender(country, name, gender, ax):
    tab = select(country, name, gender)
    tab = tab.set_index('year')
    ax.set_title(f'{country} ({gender})')
    ax.plot(tab['births']);
      
name = 'Jean'
fig = plt.figure(figsize=(10, 6))
fig.suptitle(f'Nombre de naissances pour {name}')
# tableau lignes x colonnes
[[ax1, ax2], [ax3, ax4]] = fig.subplots(2, 2, sharex=True) #, sharey=True)
fig.subplots_adjust(hspace=0.3)  # séparation verticale

plot_country_name_gender('us', name, 'F', ax1)
plot_country_name_gender('fr', name, 'F', ax2)
plot_country_name_gender('us', name, 'M', ax3)
plot_country_name_gender('fr', name, 'M', ax4)

In [ ]:
#plt.Axes.plot?

> plot(x, y, color='green', marker='o', linestyle='dashed',
> ...      linewidth=2, markersize=12)

Dans matplotlib il y a :
- 4 types de lignes: '-' (solid), '--' (dashed), ':' (dotted), '-.' (dashdotted)
- plusieurs referentiels de couleurs :
    - 8 couleurs basiques : 'b' (blue), 'c' (cyan), 'g' (green), 'k' (black), 'm' (magenta), 'r' (red), 'w' (white) and 'y' (yellow)
    - niveaux de gris : nombres sous forme de chaines entre '0.0' (noir) et '1.0' (blanc)
    - 148 couleurs nommées : voir la variable matplotlib.colors.cnames
    - 16+ millions de couleurs RVB en hexadecimal: #xxyyzz
- 41 marqueurs : see variable matplotlib.lines.Line2D.markers
- linewidth peut être remplacé par lw
- linestyle peut être remplacé par ls

In [ ]:
def plot_country_name_gender(country, name, gender, ax):
    tab = select(country, name, gender)
    tab = tab.set_index('year')
    ax.set_title(f'{country} ({gender})')
    ax.plot(tab['births'],
            '*' if country=='us' else 'H',
            color='m' if gender=='F' else 'c');
      
name = 'Alix'
fig = plt.figure(figsize=(12, 8))
fig.suptitle(f'Nombre de naissances pour {name}')
# tableau lignes x colonnes
[[ax1, ax2], [ax3, ax4]] = fig.subplots(2, 2, sharex=True)
fig.subplots_adjust(hspace=0.3)  # séparation verticale

plot_country_name_gender('us', name, 'F', ax1)
plot_country_name_gender('fr', name, 'F', ax2)
plot_country_name_gender('us', name, 'M', ax3)
plot_country_name_gender('fr', name, 'M', ax4)

#### bar plot customisé

In [ ]:
# bar plot
plt.bar(x=tab.index, height=tab['births'], color=list('mmmccmmccc'));  # testez avec barh
plt.xticks(rotation=60);

## 3. Graphiques avec seaborn

Extentsion de matplotlib oriéentée statistiques.

Voir : https://seaborn.pydata.org/api.html

In [ ]:
# import
import seaborn as sns

#### countplot

Show the counts of observations in each categorical bin using bars.

In [ ]:
# countplot
df['initial'] = df['name'].str[0]
df = df.sort_values('initial')
sns.countplot(data=df, x='initial');

#### barplot

Show point estimates and confidence intervals as rectangular bars.

In [ ]:
# seaborn barplot with births for decades
plt.figure(figsize=(8, 5))
var = df.loc[df['year'] % 10 == 0]
sns.barplot(data=var, x='year', y='births', palette='Blues');

In [ ]:
# seaborn barplot with births for decades + hue
plt.figure(figsize=(8, 5))
var = df.loc[df['year'] % 10 == 0]
sns.barplot(data=var, x='year', y='births', hue='gender', palette=['m', 'c'], ci=None);

#### displot

Flexibly plot a univariate distribution of observations.

In [ ]:
# list of names which appear at least 10,000 times
var = df.pivot_table(index='name', values='births', aggfunc='sum')
var = var.loc[var['births'] >= 10_000]
names10000 = var.index

# data for names which appear at least 10,000 times
df10000 = df.loc[df['name'].isin(names10000)]
print(len(df10000))

# number of births by gender, and ratio F / (F + M)
var = df10000.pivot_table(index='name',
                          columns='gender',
                          values='births',
                          aggfunc='sum')
ratio = var['F'] / (var['F'] + var['M'])
ratio

In [ ]:
# seaborn distplot
var = df.loc[df['year'] % 10 == 0]
sns.displot(ratio, kde=False, bins=10);

#### regplot

Plot data and a linear regression model fit.

In [ ]:
# select years year1 and year2
year1 = 2013
year2 = 2019
var = df.loc[df["year"].isin([year1, year2])]
var = var.pivot_table(values="births",
                      index="name",
                      columns="year",
                      aggfunc='sum')
sns.regplot(x=var[year1], y=var[year2]);

#### stripplot

Draw a scatterplot where one variable is categorical.

In [ ]:
# stripplot horizontal
df['terminal'] = df['name'].str[-1].str.upper()
letters = list('AEN')
var = df.loc[df['terminal'].isin(letters) & (df['year'] > 2000) & (df['country'] == 'us')]
sns.stripplot(data=var, x='terminal', y='births');

In [ ]:
# stripplot vertical
var = df.loc[df['terminal'].isin(letters) & (df['year'] > 2000) & (df['country'] == 'fr')]
sns.stripplot(data=var, y='terminal', x='births');

#### heatmap

Plot rectangular data as a color-encoded matrix.

In [ ]:
# heatmap
fig, ax = plt.subplots(1, 1, figsize=(8, 8))
sns.heatmap(pd.crosstab(df['terminal'], df['initial']), cmap='Blues', ax=ax);

## 5. Cartes : maplotlib, plotly, ipyleaflet

### 5.1 Cartes naives avec matplotlib

In [ ]:
# communes de France

df = pd.read_csv('correspondance-code-insee-code-postal.csv',
                sep=';')
df[['Latitude', 'Longitude']] = df['geo_point_2d'].str.extract('(.*), (.*)').astype(float)
df.shape

In [ ]:
# carte naive
plt.scatter(df['Longitude'], df['Latitude']);

In [ ]:
# métro : projection cylindrique équidistante vs Mercator
metro = df.loc[df['Latitude'] > 40]
plt.scatter(metro['Longitude'], metro['Latitude']);

Prise en compte du relief.

In [ ]:
# nuancier bleu
plt.scatter(metro["Longitude"],
            metro["Latitude"],
            c=metro["Altitude Moyenne"],
            cmap=plt.cm.Blues,
            edgecolors='none');

Avec tri des altitudes.

In [ ]:
# nuancier bleu avec tri des valeurs
metro = metro.sort_values("Altitude Moyenne")
plt.scatter(metro["Longitude"],
            metro["Latitude"],
            c=metro["Altitude Moyenne"],
            cmap=plt.cm.Blues,
            edgecolors='none');

Avec une autre palette de couleur et une colorbar.

In [ ]:
# on utilise plt.cm.Spectral_r
var = plt.scatter(x=metro["Longitude"],
            y=metro["Latitude"],
            c=metro["Altitude Moyenne"],
            cmap=plt.cm.Spectral_r,
            edgecolors='none')
plt.colorbar(var);

**Remarque**

Il existe dans *matplotlib* (et *seaborn*) un système de palettes de couleurs :

- matplotlib : http://matplotlib.org/users/colormaps.html

- seaborn : http://seaborn.pydata.org/tutorial/color_palettes.html

Les librairies gèrent également :

- Les palettes de couleurs de **ColorBrewer** : http://colorbrewer2.org

- Les 954 couleurs nommées de manière participative par l'initiative **xkcd** : https://xkcd.com/color/rgb/

### 5.2 Cartes avec plotly

Plotly Python Open Source Graphing Library

Plotly's Python graphing library makes interactive, publication-quality graphs.

Voir : https://plotly.com/python/

La société canadienne plotly édite égaelement la librairie **dash**.

Voir : https://plotly.com/dash/

In [ ]:
# import
from plotly.offline import iplot, init_notebook_mode
import colorlover as cl

# init
init_notebook_mode(connected=True)

In [ ]:
# pays
var = pd.read_html('https://www.geonames.org/countries/',
                   header=0,
                   keep_default_na=False)  # NA = North America
df = var[1]
df.shape

Carte mondiale : programmation déclarative

In [ ]:
# carte mondiale
data = [{
        'type': 'choropleth',
        'locations': df['ISO-3166alpha3'],
        'z': df['Population'],
        'text': df['Country'],
        'colorscale': list(zip(np.linspace(0, 1, 9), cl.scales['9']['seq']['Reds'])),
        'autocolorscale': False,
        'reversescale': False,
        'marker': {
            'line': {
                'color': 'rgb(180,180,180)',
                'width': 0.5
            }},
        'colorbar':
            {'autotick': False,
            'title': 'Population'},
        }]

layout = {
    'title': '<br>Source:\
            <a href="https://www.geonames.org/countries/">\
            geonames</a>',
    'geo': {
        'showcountries': True,
        'showframe': False,
        'showcoastlines': False,
        'projection': {
            'type': 'natural earth'  # 'mercator'
        }
    }
}


fig = {'data': data, 'layout': layout}
iplot(fig, validate=False, filename='d3-world-map')

**Exercice n° 5**

- Ajoutez une colonne 'Densité'
- Affichez la densité en niveaux de bleus (cherchez une correction des données pour obtenir un affichage pertinent).
- Prenez une projection aléatoire parmi : 'equirectangular', 'mercator', 'orthographic', 'natural earth', 'kavrayskiy7', 'miller', 'robinson', 'eckert4', 'azimuthal equal area', 'azimuthal equidistant', 'conic equal area', 'conic conformal', 'conic equidistant', 'gnomonic', 'stereographic', 'mollweide', 'hammer', 'transverse mercator' en utilisant numpy.random.choice()

### 5.3 Geocoding avec geopy et cartes avec ipyleaflet

ipyleaflet provides interactive maps in the Jupyter notebook based on leaflet.js JavaScript library and OpenStreetMap.

Installation (in a shell):

    conda install -c conda-forge geopy or pip install geopy

    conda install -c conda-forge ipyleaflet or pip install ipyleaflet

    jupyter nbextension enable --py --sys-prefix ipyleaflet

**geopy** : informations sur une adresse physique.

Voir : https://geopy.readthedocs.io/en/stable/index.html

In [ ]:
# mandatory if Python ssl.SSLError occurs
#import ssl
#import certifi
#ctx = ssl.create_default_context(cafile=certifi.where())
#geopy.geocoders.options.default_ssl_context = ctx
#import geopy

from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent='telecom_paris', timeout=7)
location = geolocator.geocode('19 Place Marguerite Perey, 91120 Palaiseau, France')
location.raw

In [ ]:
# get latitude and longitude
lat, lon = location.raw['lat'], location.raw['lon']
lat, lon

**Plan**

In [ ]:
# demo
from ipyleaflet import Map

# map arround 48.71, 2.20
m = Map(center=(lat, lon), zoom=18)
m

**Image satellite**

In [ ]:
# satellite map
from datetime import datetime, timedelta
from ipyleaflet import basemaps, basemap_to_tiles

# satellite map for yesterday
# NASA's Global Imagery Browse Services
yesterday = datetime.now() - timedelta(days=1)
nasa = basemap_to_tiles(basemaps.NASAGIBS.ModisTerraTrueColorCR, yesterday.strftime('%Y-%m-%d'))
m = Map(layers=(nasa, ), center=(lat, lon), zoom=4)

m

In [ ]:
# villes
df = pd.read_csv('cities500.txt',
                 sep='\t',header=None,
                 keep_default_na=False,  # NA = North America
                 na_values=['', -9999],
                 names=['geonameid', 'name', 'asciiname', 'alternatenames', 'latitude', 
                        'longitude', 'feature class', 'feature code', 'country code',
                        'cc2', 'admin1 code', 'admin2 code', 'admin3 code', 'admin4 code',
                        'population', 'elevation', 'dem', 'timezone', 'modification date'],
                        dtype={'admin1 code': str,
                               'admin2 code': str,
                               'admin3 code': str,
                               'admin4 code': str})
df.shape

**Autre carte...**

In [ ]:
# map with markers

from ipyleaflet import Marker, LayerGroup

watercolor = basemap_to_tiles(basemaps.Stamen.Watercolor)
m = Map(layers=(watercolor, ), center=(50, 50), zoom=1)

# add markers for cities with population >= 3M
df2 = df.loc[df['population'] >= 3e6]
layers = []
for i, row in df2.iterrows():
    marker = Marker(location=(row['latitude'], row['longitude']),
                    draggable=False,
                    title=row['name'])
    layers.append(marker)
layer_group = LayerGroup(layers=layers)
m.add_layer(layer_group)

m