# Télécom Paris - MDI721 - Session 1

## Jupyter

- Notebook
    - code
    - mardown
    - latex

**gras**  
*italique*  
$\lambda$

## Python

- syntaxe, commentaires, variables
- types de base : NoneType, bool, int, float
- structures de données : list, tuple, range, str, dict, set
- fonctions
- I/O
- PPO

## Python Standard Library

- this
- math
- pypi
- environnements virtuels

### NoneType

In [1]:
# NoneType
a = None  # the value None is assigned to the variable a
print(a)  # displays the variable

None

In [2]:
# type of an object
type(a)

NoneType

### bool

In [3]:
# logical operations with booleans
a = True
b = False
print(a and b, a or b, not a, not b)

False True False True

In [5]:
True + True

2

In [7]:
# type of an object
type(a)

bool

#Mettre en premier le membre qui coute le moins cher a calculer
#les opérateur logique sont en leasy evaluation

### int float

In [8]:
# priority between operators
print(1 + 2 - 3 * 4 / 6)

1.0

In [9]:
# integers only
print(1 + 2 - 3 * 4 // 6)

1

In [10]:
# division with remainder
a, b = 20, 7
q = a // b  # quotient, division entière
r = a % b  # remainder, le reste
print(q, r)
print(b * q + r)

2 6
20

In [13]:
# multiple assignment and comparison
a, b = 1, 2 # objet de type tuple
print(a < b)

True

In [14]:
# multiple assignment and comparison
a, b = 1, 1 
(a < b) or (a > b)

False

In [40]:
5.8 // 2.6

2.0

In [41]:
5.8 % 2.6

0.5999999999999996

In [42]:
0.1 + 0.1

0.2

In [44]:
0.1 + 0.1 + 0.1 # les nombres flottants ne sont pas en précision infinie

0.30000000000000004

### list
Collection ordonnée modifiable donc mutable.

In [22]:
# creation of l list
l = [1, 2, 3]
print(l)

[1, 2, 3]

In [23]:
# type of an object
type(l)

list

In [24]:
# appending a single element
l.append(1)
l

[1, 2, 3, 1]

In [25]:
# appending several elements
l.extend([2, 3, 1])
l

[1, 2, 3, 1, 2, 3, 1]

In [26]:
# length
len(l)

7

In [27]:
# min
min(l)

1

In [28]:
# max
max(l)

3

In [29]:
# sum
sum(l)

13

In [30]:
# testing whether 4 is in l
4 in l

False

In [31]:
# testing whether 5 is not in l
5 not in l

True

In [32]:
# to identical lists are equal
l1 = [1, 2, 3]
l2 = [1, 2, 3]
l1 == l2

True

In [33]:
# to identical lists may not have object identity
l1 is l2 # identité en tant qu'objet

False

In [35]:
#Voici ce qui illustre que les 2 objets sont diff
print(id(l1))
print(id(l2))

4602021840
4603069776

In [36]:
# here, to identical lists have object identity
l2 = [1, 2, 3]
l3 = l2
l2 is l3

True

In [37]:
# using the [] operator
l = [1, 2, 3, 1, 2, 3, 1]
print(l)
print(l[2])
print(l[1:3])
print(l[1:4:2])
print(l[1:])
print(l[:3])

[1, 2, 3, 1, 2, 3, 1]
3
[2, 3]
[2, 1]
[2, 3, 1, 2, 3, 1]
[1, 2, 3]

In [38]:
# concatenating 'l' with itself
l + l

[1, 2, 3, 1, 2, 3, 1, 1, 2, 3, 1, 2, 3, 1]

In [39]:
# concatenating 'l' with itself 3 times
l * 3  # or 3 * l

[1, 2, 3, 1, 2, 3, 1, 1, 2, 3, 1, 2, 3, 1, 1, 2, 3, 1, 2, 3, 1]

In [45]:
# sorting 'l'
sorted(l)  # returns a new object

[1, 1, 1, 2, 2, 3, 3]

In [46]:
# l is still not sorted
l

[1, 2, 3, 1, 2, 3, 1]

In [49]:
# sorting 'l' in place
l.sort()
l

[1, 1, 1, 2, 2, 3, 3]

In [50]:
x = l.sort()
type(x)

NoneType

In [51]:
# list comprehension with the squares of elements of l
[i * i for i in l]

[1, 1, 1, 4, 4, 9, 9]

In [52]:
# list comprehension with the squares of odd elements of l
[i * i for i in l if i % 2 == 1]

[1, 1, 1, 9, 9]

In [53]:
# nested list comprehension
[i * j for i in [0, 1, 2] for j in [1, 2, 3]]

[0, 0, 0, 1, 2, 3, 2, 4, 6]

In [54]:
# list from a string (see below)
list('Python')

['P', 'y', 't', 'h', 'o', 'n']

### tuple
collection itérable mais non modifiable  
prend moins de place en mémoire

In [55]:
# creation of a tuple
t = (1, 2, 3)
t

(1, 2, 3)

In [56]:
# creation of a tuple
t = 1, 2, 3
t

(1, 2, 3)

In [57]:
# list from a string (see below)
tuple('Python')

('P', 'y', 't', 'h', 'o', 'n')

In [134]:
#Attention
a = (1)
a

1

In [135]:
type(a)

int

In [136]:
#Cepenant si on veut créer un tuple avec un seule élément on fait
a = (1,)
print(a)
print(type(a))

(1,)
<class 'tuple'>

### range

In [58]:
r1 = range(10)  # integers from 0 to 9
r2 = range(1, 11)  # integers from 1 to 10
r3 = range(0, 100, 2)  # even integers from 0 to 100 excluded
print(list(r1))
print(list(r2))
print(list(r3))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [61]:
r3[20:40:6] #regardons ce qu'il va envoyer il va par pas de 12 car r3 de base par pas de 2 , puis * par pas de 6

range(40, 80, 12)

### str

In [62]:
# some strings
s1 = 'this is a string'
s2 = "it's a string"  # \ not needed for the quote
s3 = 'it\'s a string again'  # \ needed for the quote
s4 = 'C:\\Users\\Guest\\'  # \ needed for the backslashes
s5 = '''Monday,
Tuesday,
Wednesday,
...'''
print(s1)
print(s2)
print(s3)
print(s4)
print(s5)

this is a string
it's a string
it's a string again
C:\Users\Guest\
Monday,
Tuesday,
Wednesday,
...

In [63]:
#on peut utiliser les raw string
r'C\Users\Guests'

'C\\Users\\Guests'

In [64]:
# f-string with variables
name = 'Mary'
age = 25
f'{name} is {age} years old'

'Mary is 25 years old'

In [65]:
# f-string with statements
f'1 + 2 = {1 + 2}'

'1 + 2 = 3'

In [66]:
# format with named arguments
'{name} is {age} years old'.format(name='Mary', age=25)

'Mary is 25 years old'

In [67]:
# format with positional arguments
'{1} is {0} years old'.format(25, 'Mary')

'Mary is 25 years old'

In [68]:
# format with implicit positional arguments
'{} is {} years old'.format('Mary', 25)

'Mary is 25 years old'

In [69]:
# implicit positional arguments
# %s : string
# %d : nombre
'%s is %d years old' % ('Mary', 25)

'Mary is 25 years old'

In [73]:
'{:.2f}'.format(3.14159) # tronque une valeur décimale

'3.14'

In [93]:
l = ['Mary', 25]
print('{} is {} years old'.format(*l))

Mary is 25 years old

In [100]:
dico = {"Personne": "Mary", "Age": 25}
print('{} is {} years old'.format(*dico.values()))

Mary is 25 years old

In [70]:
# slicing string
s = 'Python'
s[1:-1]

'ytho'

In [71]:
# reversing string
s[::-1]

'nohtyP'

In [89]:
s[len(s)-1]

'n'

In [90]:
s[-1]

'n'

In [101]:
# concatenation
'1' + '2'

'12'

In [102]:
# lower case
s.lower()

'python'

In [103]:
# upper case
s.upper()

'PYTHON'

In [104]:
# testing start
s.startswith('P')

True

In [105]:
# testing end
s.endswith('P')

False

In [109]:
# testing substring
# renvoie -1 si la chaine n'est pas trouvé sinon l'indice ou se trouve la chaine
s.find('th')

7

In [110]:
# title
s = 'I like the python language!'
s.title()

'I Like The Python Language!'

In [114]:
# Premiere lettre de la phrase en majuscule
s = 'I like the python language!'
s.capitalize()

'I like the python language!'

In [117]:
# spliting string
s = '123,456,789'
s.split(',')

['123', '456', '789']

In [118]:
# joining strings
abc = ['A', 'B', 'C']
'-'.join(abc)

'A-B-C'

In [119]:
# character to ascii
ord('A')

65

In [120]:
# ascii to character
chr(64)

'@'

In [121]:
# str of any object
str(1 * 2 / 3)

'0.6666666666666666'

### dict

In [122]:
# example
d = {'a':1, 'b':2, 'c':3}
d['a']

1

In [123]:
# get function
d.get('a', 0)

1

In [124]:
# deleting a key
del d['a']
d

{'b': 2, 'c': 3}

In [125]:
# get function
d.get('a', 0)

0

In [127]:
# dict from a mapping sequence
d = dict([['a', 1], ['b', 2], ['c', 3]])
print(d)

{'a': 1, 'b': 2, 'c': 3}

In [128]:
# dict from a zip
d = dict(zip(['a', 'b', 'c'], [1, 2, 3]))
print(d)

{'a': 1, 'b': 2, 'c': 3}

### set
On peut lui ajouter des elements qui sont dit hashable

In [129]:
# example
s = set()
s.add(1)
s.add(2)
s.add(2)
s.add(3)
s.add(3)
s.add(3)
s

{1, 2, 3}

In [133]:
test = {1}
type(test)

set

In [130]:
# set form l list
print(l)
print(set(l))

['Mary', 25]
{'Mary', 25}

### if elif else

In [137]:
age = 19
if age in range(10, 20):
    print("teenager")

teenager

In [138]:
if age < 18:
    print("minor")
else:
    print("adult")

adult

In [139]:
if age < 10:
    print("child")
elif age < 20:
    print("teenager")
else:
    print("adult")

teenager

In [140]:
# idem with nested statements
if age < 20:
    if age < 10:
        print("child")
    else:
        print("teenager")
else:
    print("adult")

teenager

In [141]:
# one line if/else statement
status = 'minor' if age < 18 else 'adult'
print(status)

adult

In [142]:
[i*i if i%2 ==0 else i**3 for i in range(10) if i!=5]

[0, 1, 4, 27, 16, 36, 343, 64, 729]

In [144]:
{str(i): i*i for i in range(10)}

{'0': 0,
 '1': 1,
 '2': 4,
 '3': 9,
 '4': 16,
 '5': 25,
 '6': 36,
 '7': 49,
 '8': 64,
 '9': 81}

In [145]:
# simple loop
for i in range(10):
    print(i * i)

0
1
4
9
16
25
36
49
64
81

In [146]:
# enumerate function
a = list('abcdefghij')
print(a)
for i, e in enumerate(a):
    print(i, e)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i
9 j

In [149]:
type(enumerate(a)) # fait partie de la partie des générateur, c'est fabriquer un objet qui génére des objets

enumerate

In [150]:
# looping on dict items
d = dict(zip(list('abcde'), [1, 2, 3, 4, 5]))
print(d)
for key, value in d.items():
    print(key, value)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
a 1
b 2
c 3
d 4
e 5

In [152]:
for i in range(10):
    if i > 5:
        break
    print(i)
else:
    print('fin')

0
1
2
3
4
5

In [153]:
for i in range(5):
    if i > 5:
        break
    print(i)
else:
    print('fin')

0
1
2
3
4
fin

### loop while

In [154]:
a = 0
while a < 5:
    print(a)
    a += 1

0
1
2
3
4

In [155]:
a = 0
while a < 5:
    print(a)
    a += 1
else:
    print('fin')

0
1
2
3
4
fin

### loop for in

In [156]:
# example
for i in range(10):
    if i == 5:
        continue
    if i > 7:
        break
    print(i)
else:
    print("over")

0
1
2
3
4
6
7

### function

In [157]:
# function call
print('Hello World!')
#print est passé d'instruction a fonction en python 2 on mettait print 'Hello World'

Hello World!

In [158]:
# user-defined function
def square(x):
    return x * x

In [159]:
# function call
square(16)

256

In [160]:
# function call
square(-16)

256

In [161]:
# function call in a list comprehension
[square(i) for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [163]:
# function with default values
def area(length=20, width=10):
    return length * width
#on met d'abord les arguments obligatoires et positionnels

In [164]:
# all arguments are given
area(30, 5)

150

In [165]:
# only first argument is given
area(30)

300

In [166]:
# only second argument is given
area(width=20)

400

In [167]:
# no argument is given
area()

200

In [168]:
# creation of a list of tuples
a = list(zip(range(10), list("Python 3.7"), range(20, 10, -1)))
a

[(0, 'P', 20),
 (1, 'y', 19),
 (2, 't', 18),
 (3, 'h', 17),
 (4, 'o', 16),
 (5, 'n', 15),
 (6, ' ', 14),
 (7, '3', 13),
 (8, '.', 12),
 (9, '7', 11)]

In [172]:
a.sort?

### lambda
fonction anonyme

In [174]:
# sorting a using the second element of tuples
a.sort(key=lambda x: x[1])
a
#on se retrouve donc avec le tri ASCII

[(6, ' ', 14),
 (8, '.', 12),
 (7, '3', 13),
 (9, '7', 11),
 (0, 'P', 20),
 (3, 'h', 17),
 (5, 'n', 15),
 (4, 'o', 16),
 (2, 't', 18),
 (1, 'y', 19)]

In [175]:
# sorting a using the third element of tuples
a.sort(key=lambda x: x[2])
a

[(9, '7', 11),
 (8, '.', 12),
 (7, '3', 13),
 (6, ' ', 14),
 (5, 'n', 15),
 (4, 'o', 16),
 (3, 'h', 17),
 (2, 't', 18),
 (1, 'y', 19),
 (0, 'P', 20)]

In [180]:
# map example
# en 1 er argument une fonction et en 2 eme argument une collection
# c'est de la programmation fonctionnelle car on applique des fonctions aux fonctions
for e in map(lambda x: x * x, range(10)):
    print(e)

0
1
4
9
16
25
36
49
64
81

In [181]:
# filter example
for e in filter(lambda x: x % 2 == 1, range(10)):
    print(e)

1
3
5
7
9

In [185]:
f = lambda x: x % 2 == 1
print(type(f)) # c'est donc une fonction car dans python tout est objet
f(5)

<class 'function'>

True

In [188]:
#definition d'une fonction a l'intérieur d'une fonction
def fonction(x):
    def fonction2(y):
        return y**2
    return [fonction2(i) for i in range(x)]
fonction(5)

[0, 1, 4, 9, 16]

In [190]:
fonction2(3) # normal car inconnue dans le niveau générale car dans une autre fonction
#la porté lexical d'une reste dans le corps de la fonction qui l'encapsule

NameError: name 'fonction2' is not defined

### classes

In [191]:
type(1)

int

In [193]:
isinstance(1, int) # fonction systeme qui renvoie True ou False si l'objet est du type definie ici

True

In [194]:
# small example : the Point class

class Point :
    
    def __init__(self, a=0.0, b=0.0):
        #self représente l'objet lui meme
        self.x = a
        self.y = b
        
    def __str__(self):
        return f"({self.x}, {self.y})"
    
    def is_diagonal(self):
        return self.x == self.y
    
    def transpose(self):
        return Point(self.y, self.x)
    
    def middle_with(self, autrePoint):
        return Point((self.x + autrePoint.x) / 2, (self.y + autrePoint.y) / 2)
    
    def __eq__(self, p):
        return (self.x == p.x) and (self.y == p.y)

In [219]:
#Methode de python sont implementé comme des fonctions dans l'espace de nom de la classe
a=1
a.__add__(2)

3

In [220]:
int.__add__(a, 2)

3

In [202]:
dir(1)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [204]:
# instance creation
p1 = Point()
print(p1)

(0.0, 0.0)

In [205]:
# accessing attribute
p1.x

0.0

In [208]:
# diagonal?
print(p1.is_diagonal())
print(Point.is_diagonal(p1))

True
True

In [210]:
# other instance
p2 = Point(10, 6)
p2.is_diagonal()

False

In [211]:
# transposing
p3 = p2.transpose()
print(p3)

(6, 10)

In [212]:
# middle
p4 = p2.middle_with(p3)
print(p4)

(8.0, 8.0)

In [213]:
# diagonal?
p4.is_diagonal()

True

In [214]:
class Polygon:
    def __init__(self):
        self.points = []
        
        
    def __str__(self):
        return ("Poly{%s}" % ', '.join([str(p) for p in self.points]))
    
    
    def add_point(self, point):
        if point not in self.points: # ensure that all points are different
            self.points.append(point)
            
            
    def add_points(self, points):
        for point in points:
            self.add_point(point)
            
            
    def add_polygon(self, polygon):
        self.add_points(polygon.points)
        
        
    def name(self):
        names = {0:"empty", 1:"point", 2:"segment", 3:"triangle", 4:"quadrilateral", 5:"pentagon"}
        nb = len(self.points)
        return names.get(nb, "polygon")

In [215]:
# instance creation
p = Polygon()
print(p, p.name())

Poly{} empty

In [216]:
# adding points
p.add_point(p1)
p.add_point(p2)
print(p, p.name())

Poly{(0.0, 0.0), (10, 6)} segment

In [217]:
# other instance
q = Polygon()
q.add_points([p2, p3, p4])
print(q, q.name())

Poly{(10, 6), (6, 10), (8.0, 8.0)} triangle

In [218]:
# adding polygons
p.add_polygon(q)
print(p, p.name())

Poly{(0.0, 0.0), (10, 6), (6, 10), (8.0, 8.0)} quadrilateral

### I/O
Entrée/Sortie

In [221]:
# sep
print(1, 2, 3, sep=';')

1;2;3

In [222]:
# end
for i in range(10):
    print(i, end=' ')

0 1 2 3 4 5 6 7 8 9

In [223]:
# input number
age = int(input('What is your age? '))
age

What is your age? 38

38

In [233]:
# create and write a file
with open('data.txt', 'w') as f:
    f.write('This is a simple file.\n')
    
# open and read a file
with open('data.txt') as f:
    content = f.read()
    
print(content)

This is a simple file.

In [234]:
# writing a file
with open('data.txt', 'a') as f:
    for i in range(10):
        f.write(f'{i}\n')

# reading it line by line
with open('data.txt') as f:
    # f devient un generateur 
    for line in f:
        print(line.rstrip('\n'))

This is a simple file.
0
1
2
3
4
5
6
7
8
9

In [232]:
f #f contient le retour chariot \n donc rstrip('\n') au programme précedent

In [227]:
type(f)

_io.TextIOWrapper

In [235]:
# creatin and object
data = {'language': 'Python', 'version': [3, 6]}
data

{'language': 'Python', 'version': [3, 6]}

In [237]:
# save it to json
# le format json resemble au format de liste et de dictionnaire de python utiliser sur le API
#json : javascript object notify
import json
with open('example.json', 'w') as f:
    json.dump(data, f)
    
# load it from json
with open('example.json') as f:
    data2 = json.load(f)

print(data2 == data)

True

In [238]:
#exemple avec une base de donnée
# example with SQLite and a dedicated module
import sqlite3
import os

# remove 'test.db' file if exists
if os.path.exists('test.db'):
    os.remove('test.db')
    
# create and fill a small database
with sqlite3.connect("test.db") as db:
    cursor = db.cursor()
    cursor.execute('''CREATE TABLE clients
                    (id integer, lastname text, firstname text)''')
    cursor.execute('''INSERT INTO clients VALUES (1, 'Smith', 'John')''')
    cursor.execute('''INSERT INTO clients VALUES (2, 'Doe', 'John')''')
    cursor.execute('''INSERT INTO clients VALUES (3, 'Smith', 'Ann')''')
    db.commit()
    print("database created")

database created

In [239]:
# open and request the database
with sqlite3.connect("test.db") as db:
    cursor = db.cursor()
    cursor.execute('''SELECT * FROM clients WHERE lastname=?''', ('Smith',))
    # on sépare la requette des var de la requete pour éviter les problématiques d'injection
    row = cursor.fetchone()
    while row:
        print(row)
        row = cursor.fetchone()

(1, 'Smith', 'John')
(3, 'Smith', 'Ann')

### PSL

In [240]:
# example: this module = Python philosophy
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [241]:
# example
import math
math.pi

3.141592653589793

In [242]:
# example
import math as m
print(m.factorial(100))

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [243]:
# example
from math import factorial as fact
print(fact(200))

788657867364790503552363213932185062295135977687173263294742533244359449963403342920304284011984623904177212138919638830257642790242637105061926624952829931113462857270763317237396988943922445621451664240254033291864131227428294853277524242407573903240321257405579568660226031904170324062351700858796178922222789623703897374720000000000000000000000000000000000000000000000000

In [247]:
# example
from math import * # importer toutes les librairies de math à ne pas faire
#surtout pour les problemes de collision entre module , il prend la fonction du dernier module chargé
print(factorial(200))

788657867364790503552363213932185062295135977687173263294742533244359449963403342920304284011984623904177212138919638830257642790242637105061926624952829931113462857270763317237396988943922445621451664240254033291864131227428294853277524242407573903240321257405579568660226031904170324062351700858796178922222789623703897374720000000000000000000000000000000000000000000000000

In [251]:
#en terme d'entier python est en précision infini (presque :) )
fact(1000)

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000